/* 
TABLE OF CONTENTS

  1. resets & global defaults
  2. index.html
    2.1 mobile 
    2.2 landscape mobile 
    2.3 tablet
    2.4 landscape tablet
    2.5 small laptop
    2.6 large laptop
    2.7 small monitor
    2.8 large monitor
  3. <post>.html
*/

/* 1. resets & global defaults */
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #f6f6fd;
  /* background-color: oldlace; */
  font-family: "Libre Baskerville", serif;
}
body {
  background-color: #e5e5f7;
  /* opacity: 0.3; */
  background-image: radial-gradient(
    rgba(255, 0, 0, 0.3) 1.6500000000000001px,
    rgba(229, 229, 247, 0.3) 1.6500000000000001px
  );
  background-size: 33px 33px;
}
p {
  line-height: 1.35;
}
h1,
h2,
h3 {
  font-weight: 100;
}
li {
  list-style-type: none;
}

/* default word wrapping for prsimjs pre and code blocks */
code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap !important;
  /* word-break: break-word !important; */
}

/* 2 index.html - base & mobile first*/

.index {
  z-index: 10001;
  background-color: #f6f6fd;
  /* background-color: oldlace; */
}
.index .hat {
  background-image: url("./images/laserlense.jpg");
  width: 100vw;
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-size: cover;
  color: white;

  /* some of the above styles should go into desktop only media queries */
  /* width: 0; */
}
.index .hat h1 {
  /* margin: 3.6rem 1.75rem 0 0; */
  margin: 3rem 0 0 0;
  font-size: 6.5rem;
  font-weight: 100;

  /* some of the above styles should go into desktop only media queries */
  font-size: 3rem;
}
.index .hat nav {
  display: flex;
}
.index .hat nav p {
  border: 1px solid white;
  border-bottom: none;
  /* width: min-content; */
  padding: 0.4rem 1.2rem 1rem 0.5rem;
  align-self: self-end;
  font-size: larger;
  font-size: 2rem;
  margin: 0 12rem 0 7rem;
}
.index .hat nav ul {
  display: flex;
  /* flex-direction: column; */
  align-items: end;
  margin: 0 0 0 1rem;

  margin: 0 auto;
}
.index .hat nav ul li {
  margin: 0rem 9rem 0 0;
  border: 1px solid;
  border-bottom: 0;
  padding: 0.5rem 1rem 0.5rem 1rem;
  color: white;

  /* some of the above styles should go into desktop only media queries */
  margin: 0;
  justify-content: space-between;
  align-items: center;
}
.index .hat nav ul li a {
  color: white;
}

.posts {
}
.posts li {
  border: 1px solid;
  list-style-type: none;
  padding: 0.8rem 0.8rem 0.8rem 0.8rem;
  margin: 0.8rem 0.8rem 0.175rem 0.8rem;
  /* margin: 1rem 0 0 0; */
  /* padding: 0.4rem 0 0.4rem 0.4rem; */
}
.posts ul {
  display: flex;
  flex-direction: column;
  /* width: 40rem; */
  /* margin: 0 0 0 5rem; */
}
.posts ul li article a {
  margin: 0 0 0.6rem 0;
}
.posts ul li article p {
  margin: 1.1rem 0 0 0;
}

@media screen and (min-width: 420px) {
  .index .hat {
    text-align: end;
  }
  .index .hat h1 {
    margin: 0.75rem 1.25rem 0 0;
  }
  .index .hat nav {
    align-self: end;
  }
  .index .hat nav ul {
    display: flex;
    flex-direction: column;
  }
}
/* landscape mode for mobile phones */
@media screen and (min-width: 630px) {
  .index {
    max-width: 630px;
    height: auto;
    margin: 0 auto;
    border: 1px solid;
  }
  .index .hat {
    max-width: 630px;
  }
}

@media screen and (min-width: 650px) {
}

/* 3. <post>.html */
.post-wrapper {
  display: flex;
  flex-direction: column;
}
.post .hat {
  background-image: url("./images/laserlense.jpg");
  width: 100%;
  height: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  background-size: cover;
  color: white;
}
.post {
  background-color: #f6f6fd;
  /* background-color: oldlace; */
}
.post a {
  /* display: block; */
  /* margin: 1rem 0 0 1rem; */
}
.post .text {
  margin: 1.8rem 1.6rem 0 1.6rem;
}
.post .text hr {
  margin: 1.4rem 0 2rem 0;
}
.post .text h2 {
  font-size: 1.8rem;
  margin: 0 0 2rem 0;
  text-decoration: underline;
}
.post .text h3 {
  font-size: 1.5rem;
  margin: 1.2rem 0 1.2rem 0;
}
.post .text p {
  line-height: 1.65;
  font-size: 1.15rem;
  margin: 0 0 1.5rem 0;
}

@media screen and (min-width: 800px) {
  .post {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid;
  }
}
